<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>RegenBogen</title>
</head>

<body>
    <h1>RegenBogen
        <small class="text-muted">RgnBgn</small>
    </h1>
    <table class="table">
        <tr>
            <th>Map</th>
            <th>Vorbereiter</th>
            <th>Download</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{entry.map}}</td>
            <td>{{entry.author}}</td>
            <td> <a class="btn btn-primary" href="/{{entry.file.url}}" role="button">{{entry.name}}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>