<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <title>Tippspiel</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-2">Tippspiel</h1>
        <p class="lead">Hier sind alle Events, laufend oder bereits geschlossen.</p>
        <hr class="my-4">
        <p>Klicke auf ein event um es anzusehen oder lege ein neues an.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="newevent" role="button">Neu</a>
        </p>
    </div>
    <h3 class="display-4">Laufend</h3>
    {% for event in running %}
    <a class="btn btn-primary" href="{{event.url}}" role="button">{{event.title}}</a>
    {% endfor %}
    <h3 class="display-4">Beendet</h3>
    {% for event in finished %}
    <a class="btn btn-secondary" href="{{event.url}}" role="button">{{event.title}}</a>
    {% endfor %}
</body>